
@{
    ViewBag.Title = "GiaiPTB1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GiaiPTB1</h2>
@using(Html.BeginForm())
{
    <input type="text" name="hesoa"/>
    <input type="text" name="hesob"/>
    <input type="submit" value="Giải phương trình" />
}

<h3> Nghiệm của phương trình là: @ViewBag.nghiemPT</h3>